<footer class="site-footer">

  <div class="wrapper">

  </div>

</footer>

<script>
//MOBILE MENU

	function menu(){
		if( $(window).width() >= 900){
			$('.trigger').css('display', 'block');
			} else {
				$('.trigger').css('display', 'none');
			}
		} 

	$('.m-toggle').click(function(e){
		e.preventDefault();
		$('.trigger').slideToggle(500);
	});


	menu();

	$(window).resize(function(){
		menu();
	});

//FEED TABS

$('.page-link').click(function(){
  $('.page-link').removeClass('underline');
  $(this).addClass('underline');
  
  $('.option').removeClass('underline');
  
  var toggleId = $(this).attr('data-ui');
  
  console.log(toggleId);
  
  $('#' + toggleId).addClass('underline');
 
   
});

//JOURNALS DROPDOWN

$('.course').click(function(){
  $('.course').removeClass('desc');
  $(this).addClass('desc');
  
  $('.course-desc').removeClass('desc');

  // $('.course-desc').slideToggle(1000);
  
  var toggleId = $(this).attr('data-ui');
  
  console.log(toggleId);
  
  $('#' + toggleId).addClass('desc');
 
   
});

//FEED TABS

$('.ftab').click(function(){
  $('.ftab').removeClass('display');
  $(this).addClass('display');
  
  $('.option').removeClass('display');
  
  var toggleId = $(this).attr('data-ui');
  
  console.log(toggleId);
  
  $('#' + toggleId).addClass('display');
 
   
});



</script>