/*
====================
GLOBAL
====================
*/


* {box-sizing: border-box;}

body {
	background: $color-bg;
	font-family: $font-body;
	line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
	line-height: 1.4;
	text-transform: uppercase;
}

img {max-width: 100%;}

a {text-decoration:none;}

.page-content .wrapper {
	margin: 1rem auto;
	max-width: 800px;
	width: 90%;
}

.btn {
	border: 2px solid;
	border-radius:3px;
	font-family: $font-headings;
	padding: 0.5em 1em;
}

#writing {
	background: $color-light;
	border: 1px solid lighten($color-medium, 50%);
	height:73vh;
}

//COURSE ICONS

.courses {
	margin: 1em auto;
	padding: 0 1em;

	a {
		color: $color-light;
		text-decoration: none;
	}

	h2 {
		font-size: 1.25em;
		margin: 0;
	}

	div:last-child {
		background: $color-medium;
		max-width: 301px;
		margin: -5px 0 0 0;
		padding: 1em;

	}
}

//FREEWRITE

.freewriter {
	border: none;
	height: 72vh;
	overflow: auto;
	padding: 2em;
	resize: none;
	width: 100%;

	&:focus {
		outline: none;
	}
}

	
.write-bar {
    background: $color-dark;
    color: $color-light;
    font-family: $font-headings;
    overflow: hidden;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;

    article:last-child {overflow: hidden;}

    .btn {
    	border-color: $color-light;
    	color: $color-light;
    	display: block;
    	float: right;
    	margin: 0 0.5em;

    	&:last-child {margin-right: 0;}
    }
}



















