/*
====================
GLOBAL
====================
*/


* {box-sizing: border-box;}

body {
	background: $color-bg;
	color: $color-dark;
	font-family: $font-body;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headings;
	line-height: 1.4;
	text-transform: uppercase;
}

img {max-width: 100%;}

a {text-decoration:none;}

li {margin: 1em 0;}


.page-content .wrapper {
	margin: 1rem auto;
	max-width: 800px;
	width: 90%;
}

.caption {
	color: $color-medium;
	font-family: $font-headings;
	font-size: 12px;
	text-align: center;
}

.btn {
	border: 2px solid;
	border-radius:3px;
	display:block;
	font-family: $font-headings;
	max-width: 100%;
	padding: 0.5em 1em;
	text-align:center;
	text-transform: uppercase;
}

#writing {
	background: $color-light;
	border: 1px solid lighten($color-medium, 50%);
	height:73vh;
}

//COURSE ICONS

.courses1,
.courses2,
.courses3,
.courses4,
.courses5 {
	color: $color-light;
	cursor: pointer;
	margin: 2em auto 0 auto;
	max-width: 300px;

	h2 {
		font-size: 1.25em;
		margin: 0;
	}

	div:last-child {
		background: $color-medium;
		max-width: 301px;
		margin: -8px 0 0 0;
		padding: 1em;

	}
}

.course-desc1,
.course-desc2,
.course-desc3,
.course-desc4,
.course-desc5 {
	background: $color-light;
	display: none;
	margin: 0 auto;
	max-width: 300px;
	padding: 0.5em 1em 1em 1em;
	width: 90%;

	.btn {
		border-color: $color-dark;
		color: $color-dark;
	}
}

@media (min-width: 650px) {
	.course-desc1,
	.course-desc2,
	.course-desc3,
	.course-desc4,
	.course-desc5 {
		max-width: 800px;
		margin: 0;
	}
}

//FREEWRITE

.prompt {
	background: $color-accent;
	color: $color-light;
	padding: 1em;

	h2 {
		font-size: 1em;
		font-weight: 400;
		margin: 0 auto;
		max-width: 800px;
	}
}

.freewriter {
	border: none;
	height: 72vh;
	overflow: auto;
	padding: 2em;
	resize: none;
	width: 100%;

	&:focus {
		outline: none;
	}
}

	
.write-bar {
    background: $color-dark;
    color: $color-light;
    font-family: $font-headings;
    overflow: hidden;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;

    article:last-child {overflow: hidden;}

    .btn {
    	border-color: $color-light;
    	color: $color-light;
    	display: block;
    	float: right;
    	margin: 0 0.5em;

    	&:last-child {margin-right: 0;}
    }
}

//DASH

.sub-nav {
	background: $color-light;
	border-top: 2px solid $color-dark;
	border-bottom: 2px solid $color-dark;
	overflow: hidden;

	div:first-child {
		background: $color-accent;

		a {
			color: $color-light;
		}
	}

	a {
		color: $color-dark;
		display: block;
		font-family: $font-headings;
		padding: 1em;
		text-align: center;
	}
}

.title-wrapper {
    overflow: hidden;
    h2 {
        margin: 0;
        padding: 0.35em 0;

        span {display:block;}

        span:first-child {
            float: left;
            width: 40%;
        }
        span:last-child {
            float: right;
            width: 20%;
        }
    }


}

.title-cat {
	background: url(../images/essay.png) 0 0 no-repeat;
	background-size: cover;
	float: left;
	height: 50px;
	margin-right: 1.5em;
	width: 50px;
}


//INDIVIDUAL JOURNAL PAGE


.journal-header {
	margin-bottom: 1em;
	overflow: hidden;

	article {overflow: hidden;}

	.h-first {

		h2 {
			margin: 0;
			padding: 0.3em 0.5em;
		}
	}
	.h-second {display: none;}
}

.prompt-list {
	margin: 1em auto;

	section {
		color: $color-inactive;
		margin: 2em auto;
		overflow:hidden;

		a {
			color: $color-inactive;
		}
	}

	.active {
		background: $color-accent;
		color: $color-light;
		margin: 1em -2em;
		padding: 1em 2em;

		a {
			color: $color-light;
		}
		article:first-child div {border-color: $color-light;}
	}

	.complete {
		color: $color-dark;

		a {
			color: $color-light;
		}
		article:first-child div {
			background: $color-dark;
			border-color: $color-dark;
			color: $color-light;
		}
		.btn {
			border-color: $color-dark;
			color: $color-dark;
		}
	}
	
	article {padding: 0.5em;}
	article:first-child {
		padding: 0;
		div {
			border: 2px solid $color-inactive;
			border-radius: 50%;
			font-size: 2.25em;
			height: 60px;
			margin: 0 auto;
			padding-bottom: 12px;
			text-align: center;
			width: 60px;
		}
	}

	article {
		font-family: $font-headings;
	}
}


@media (min-width: 650px) {
	.journal-header {
		.h-first {display: none;}

		.h-second {
			display: block;
			margin: 0;
		}
	}
	.prompt-list .active {
		margin: 0 auto;
		padding: 1em 0;
	}

	.j-desc {padding: 0 1em;}
}

//DAILY PROMPT PAGE

.day,
section {
	overflow: hidden;
}

.day {
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
	font-family: $font-headings;

	.number {
		background: $color-accent;
		border-radius: 50%;
		color: $color-light;
		height: 24px;
		text-align: center;
		width: 24px;
	}

	h4 {
		margin: 0 1em;
		padding: 0.15em 0 0 0;
	}
}
.day-prompt {

	.quote {
		padding: 0 0.5em;
	}
	.write {
		margin: 2em auto 1.5em auto;
		float: none;
		
		.btn {
			background: $color-accent;
			border-color: $color-accent;
			color: $color-light;
		}
	}
}

.tips {
	font-size: 18px;
	margin: 0 auto;
	max-width: 700px;

	h2 {
		text-align: center;
	}
}

@media (min-width: 650px) {
	.quote {font-size: 2em;}
}


//DAY PROMPT

.prompt {
	animation: promptBar 500ms linear 3s forwards;
	background: $color-accent;
	color: $color-light;
	font-family: $font-headings;
	font-size: 2.5em;
	height: 100vh;
	padding: 2em 0;
	text-transform: uppercase;

	div {
		margin: 0 auto;
		max-width: 700px;
		width: 90%;
	}
}

@keyframes promptBar {
	0% {
		font-size: 2.5em;
		height: 100vh;
		padding: 2em 0;
	}
	100% {
		font-size: 1.25em;
		height: auto;
		padding: 1em 0;
	}
}


//FEED

.feed {
	max-width: 800px;

	article {
		overflow: hidden;

		&:first-child {
			padding: 0.5em;
		}
		&:nth-child(2) {
			padding: 0.25em 0.25em 1em 0.25em;
		}
		&:last-child {
			padding: 0.5em 0.75em;
		}
	}

	p,
	h4 {margin: 0;}

	img {
		width: 40px;
	}

	.icon {float: right;}

	.post {
		background: $color-light;
		margin: 1em auto;
		padding: 0.5em;
	}

	.username {padding: 0.75em 0 0 0}

	.date {
		float: right;
		padding: 0.75em 0 0 0;
	}

	.words {
		float: right;
	}

	.prof {
		border-radius: 50%;
	}


	span {
		font-size: 2em;
	}
}


