/*
==================
GRID
==================
*/

$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: (($tot-width) - ($gut-width) * ($num-col - 1)) / $num-col;

@mixin grid($geezy) {
  width: $geezy * $ind-col-width + $gut-width * ($geezy - 1);
  float: left;
  margin-right: $gut-width;

  &:last-child {
    margin-right: 0;
	}
}

//mobile styles

.col-sm-1 {
  @include grid(1);
}
.col-sm-2 {
  @include grid(2);
}
.col-sm-3 {
  @include grid(3);
}
.col-sm-4 {
  @include grid(4);
}
.col-sm-5 {
  @include grid(5);
}
.col-sm-6 {
  @include grid(6);
}
.col-sm-7 {
  @include grid(7);
}
.col-sm-8 {
  @include grid(8);
}
.col-sm-9 {
  @include grid(9);
}
.col-sm-10 {
  @include grid(10);
}
.col-sm-11 {
  @include grid(11);
}
.col-sm-12 {
  @include grid(12);
}

//MEDIUM SCREEN STYLES

@media (min-width: 650px) {
  .col-md-1 {
    @include grid(1);
  }
  .col-md-2 {
    @include grid(2);
  }
  .col-md-3 {
    @include grid(3);
  }
  .col-md-4 {
    @include grid(4);
  }
  .col-md-5 {
    @include grid(5);
  }
  .col-md-6 {
    @include grid(6);
  }
  .col-md-7 {
    @include grid(7);
  }
  .col-md-8 {
    @include grid(8);
  }
  .col-md-9 {
    @include grid(9);
  }
  .col-md-10 {
    @include grid(10);
  }
  .col-md-11 {
    @include grid(11);
  }
  .col-md-12 {
    @include grid(12);
  }

  article:nth-child(even) {
    margin-right: 0;
  }
}

//LARGE SCREEN STYLES

@media (min-width: 900px) {
  .col-lg-1 {
    @include grid(1);
  }
  .col-lg-2 {
    @include grid(2);
  }
  .col-lg-3 {
    @include grid(3);
  }
  .col-lg-4 {
    @include grid(4);
  }
  .col-lg-5 {
    @include grid(5);
  }
  .col-lg-6 {
    @include grid(6);
  }
  .col-lg-7 {
    @include grid(7);
  }
  .col-lg-8 {
    @include grid(8);
  }
  .col-lg-9 {
    @include grid(9);
  }
  .col-lg-10 {
    @include grid(10);
  }
  .col-lg-11 {
    @include grid(11);
  }
  .col-lg-12 {
    @include grid(12);
  }

  article:nth-child(even) {
    margin-right: $gut-width;
  }
  article:nth-child(3n) {
    margin-right: 0;
  }
}