/*
====================
HEADER
====================
*/

.site-header {
	background: $color-light;
	border-bottom: 1px solid lighten($color-medium, 50%);
	overflow: hidden;
	padding: 1em 2em;
	a {
		color: $color-dark;
		font-weight: 400;
		font-family: $font-headings;
		font-size: 2em;
		text-decoration: none;
	}
}
.site-title {
	float: left;
	width: 80%;
}
.m-toggle {
	float: right;
	width: 20%;

	svg {
		cursor: pointer;
		float: right;
		padding: 0.5em 0 0 0;
		width: 2em;
	}
}
.site-nav {
	clear: both;
	display: block;
	float: none;
}

.trigger {
	display: none;
	float: none;
	padding: 2em 0 0 0;
	text-align: center;

	.page-link {
		display: block;
		margin: 1em 0;
	}
}

@media (min-width: 900px) {
	.site-title {width: 40%;}

	.m-toggle {
		svg {display:none;}
	}
	.site-nav {
		clear: none;
		float: left;
		width: 60%;
	}
	.trigger {
		display: block;
		float: right;
		overflow: hidden;
		padding: 0;
		
		.page-link {
			font-size: 16px;
			float: left;
			margin: 0 2em 0 0;
			padding: 0.6rem 0 0 0;

			&:last-child{margin-right: 0;}

			&:hover {border-bottom: 2px solid $color-accent;}
		}	
	}
	.prof-menu {
		background: url(../images/user1.png) 0 0 no-repeat;
		background-size: cover;
		border-radius: 100%;
		display: block;
		float: left;
		height: 40px;
		width: 40px;
	}

}