<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <nav class="sub-nav">
      <div class="col-sm-4 col-md-2 col-lg-2 ftab display" data-ui="drafts">
        <a class="feed-tabs" href="#">Drafts</a>
      </div>
      <div class="col-sm-4 col-md-2 col-lg-2 ftab" data-ui="posts">
        <a class="feed-tabs" href="#">Posts</a>
      </div>
      <div class="col-sm-4 col-md-2 col-lg-2 ftab">
        <a class="feed-tabs" href="#">Leaders</a>
      </div>
    </nav>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>